@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
.App {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color:#252599;
}
#inputButton{
  margin-top: 50px;
  margin-bottom: 100px;
  color:#992313;
}
